[Desktop Entry]                                                                 
Type=Application                                                                
Description=Display EletroHorse Service
Exec=/usr/bin/python3 /home/pi/env/display/MainScreen.py

